*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  height: 80px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo{
  width: 110px;
  height: 50px;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  width: 280px;
}

.btn{
  display: flex;
  align-items: flex-end;
  height: 80px;
}

.btn-heberge, .btn-activite{
  text-decoration: none;
  color: black;
}

.btn:active{
  border-top: 1px solid rgb(98, 153, 254);
}

.btn-heberge, .btn-activite:active{
  color: rgb(98, 153, 254);
}

/* end navbar */

header{
  width: 95%;
  margin: 10px auto;
}

/* end header */

.contain-searchbar-elements{
  display: flex;
  width: 95%;
  margin: auto;
}

.pin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgb(178, 178, 178);
  border-radius: 8px 0 0 8px;
}

input::placeholder{
  color: rgb(0, 0, 0);
  opacity: 1;
  font-weight: bold;
}

button{
  height: 40px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #0165FB;
  color: whitesmoke;
  width: 80px;
  cursor: pointer;
}
button:hover{
  background-color: #3885f7;
}

/* end searchbar */

.contain-filters{
  width: 50%;
}

.filter-elements{
  display: flex;
  justify-content: space-evenly;
}
